<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置该类相关信息 -->
    <bean id="user" class="com.zyp.entity.User">
        <property name="id" value="1"></property>
        <property name="username" value="小黑黑"></property>
        <property name="password" value="123456"></property>
        <property name="age" value="18"></property>

        <!--数组类型赋值-->
        <property name="names">
            <array>
                <value>小黑</value>
                <value>小黑黑</value>
                <value>小黑仔</value>
            </array>
        </property>

        <!--给List类型赋值-->
        <property name="list">
            <list>
                <value>小黑</value>
                <value>小黑黑</value>
                <value>小黑仔</value>
            </list>
        </property>

        <!--给Set类型赋值-->
        <property name="set">
            <set>
                <value>小黑</value>
                <value>小黑黑</value>
                <value>小黑仔</value>
            </set>
        </property>

        <!--给Map类型渎职-->
        <property name="maps">
            <map>
                <!-- 代表一个键值对 -->
                <entry>
                    <!--键-->
                    <key>
                        <value>1</value>
                    </key>
                    <!--值-->
                    <value>小黑黑</value>
                </entry>
                <entry>
                    <key>
                        <value>2</value>
                    </key>
                    <value>小灰灰</value>
                </entry>
                <entry>
                    <key>
                        <value>3</value>
                    </key>
                    <value>小红红</value>
                </entry>
            </map>
        </property>

        <!-- 给properties类型赋值 -->
        <property name="properties">
            <props>
                <prop key="1">小黑</prop>
                <prop key="2">小白</prop>
                <prop key="3">小黄</prop>
            </props>
        </property>
    </bean>

    <!--配置UserDAOImpl类的相关信息-->
    <bean id="userDAO" class="com.zyp.dao.UserDAOImpl"></bean>

    <!--配置UserServiceImpl类的相关信息-->
    <!--<配置UserServiceImpl类的相关信息bean id="userService" class="com.zyp.service.UserServiceImpl" autowire="byName">-->
    <bean id="userService" class="com.zyp.service.UserServiceImpl" autowire="byType">
        <!--第一个userDAO代表Service属性的名字-->
        <!--第二个userDAO代表UserDAO实现类对象的唯一标识-->
        <!--<property name="userDAO" ref="userDAO"></property>-->
    </bean>

    <!--配置MyConnection类的信息-->
    <bean id="connection" class="com.zyp.factorybean.MyConnection">
    </bean>

    <!--配置MySqlSessionFactory类的相关信息-->
    <bean id="sqlSessionFactory" class="com.zyp.factorybean.MySqlSessionFactory">
    </bean>
</beans>